:root {
    --cinza-escuro: #1C1C1C;
    --cinza-ardosia: #2F2F2F;
    --vermelho-sangue: #ff2525;
    --cinza-metalico: #A9A9A9;
    --azul-petroleo: #2F4F4F;
    --roxo-escuro: #4B0082;
    --padrao-botao: #672d21;
}