@import 'paginas.css';

#mansao {
    height: 100%;
    border-radius: 10px;
}

#opcoes-home {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    background-color: var(--cinza-ardosia);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#fechar-modal-home {
    border-radius: 50%;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

#alerta-modal p {
    padding: 1rem;
    background-color: #f1e5cb;
    width: 92%;
    margin: 1rem 0;
    color: black;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    align-self: center;
}

.imgLogo {
    width: 40%;
}

@media (max-width: 600px) {
    .opcoes-home{
        display: flex;
        flex-wrap: wrap;
    }
    #alerta-modal p {
        width: 90%;
        max-height: 55vh;
        overflow: auto;
    }
}
