@import url('./cores.css');

body{
    background-color: var(--cinza-escuro);
    color: var(--vermelho-sangue);

}

.carousel-container img {
    max-height: 500px; /* Limita a altura da imagem */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#social-media a {
    transition: transform 0.3s ease;
}

#social-media a:hover {
    transform: scale(1.1);

/* Tornar o contêiner do carrossel posicionado relativamente */
.carousel {
    position: relative;
}

/* Ajustar a posição dos botões de controle do carrossel */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.carousel-control-prev {
    left: 10px; /* Ajusta a posição horizontal para a esquerda */
}

.carousel-control-next {
    right: 10px; /* Ajusta a posição horizontal para a direita */
}

/* Ajuste do ícone do controle */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 100%;
    height: 100%;
    background-size: 100%, 100%;
}

#article-content{
    background-color: var(--cinza-escuro);
    padding: 20px;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 30px;
        height: 30px;
    }
}

#social-media a {
    font-size: 40px;
    color: #B22222;
}

/* Tornar o contêiner do carrossel posicionado relativamente */
.carousel {
    position: relative;
}

/* Ajustar a posição dos botões de controle do carrossel */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.carousel-control-prev {
    left: 10px; /* Ajusta a posição horizontal para a esquerda */
}

.carousel-control-next {
    right: 10px; /* Ajusta a posição horizontal para a direita */
}

/* Ajuste do ícone do controle */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 100%;
    height: 100%;
    background-size: 100%, 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 30px;
        height: 30px;
    }
}
}