:root{
    --cinza-escuro: #1C1C1C;
    --cinza-ardosia: #2F2F2F;
    --vermelho-sangue: #B22222;
    --cinza-metalico: #A9A9A9;
    --azul-petroleo: #2F4F4F;
    --roxo-escuro: #4B0082;
}

html, body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cinza-ardosia);
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}



.header-sobre{
    display: flex;
    background-color: var(--cinza-escuro);
    color: var(--vermelho-sangue);
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

nav ul li a{
    color: var(--vermelho-sangue);
    text-decoration: none;
    font-size: 20px;
}




#carouselExampleCaptions{
    display: flex;
    color: var(--vermelho-sangue);
    align-items: center;
    width: 100%;
}



.container-sobre{
    display: flex;
    color: var(--cinza-metalico);
    justify-content:center;
    align-items: center;
    padding: 2rem;
    height: fit-content;
}

.container-sobre-bloco{
    display: flex;
    background-color: var(--cinza-ardosia);
    color: var(--cinza-metalico);
    width: 100%;
    height: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}


.container-sobre img{
    width: 100%;
    height: 520px;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

#info-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#info-article p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}



.footer-sobre{
    display: flex;
    background-color: var(--cinza-escuro);
    color: var(--vermelho-sangue);
    justify-content: center;
    text-align: center;
    padding: 2rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
}

.footer-sobre p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
}


@media (max-width: 768px){

    header nav ul li a{
        font-size: 10px;
    }

    .container-sobre{
        display: flex;
        color: var(--cinza-metalico);
        justify-content:center;
        align-items: center;
        padding: 2rem;
    }

    .container-sobre-bloco{
        display: flex;
        flex-direction: column;
        color: var(--cinza-metalico);
        justify-content:center;
        align-items: center;
        padding: 1rem;
    }
    .container-sobre img{
        width: 100%;
        height: 380px;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
    }
}

